
<div class="one-recenze">
<div id="<%= dom_id recenze %>">
  <p>
    <strong>Název filmu:</strong>
    <%= recenze.name %>
  </p>

  <p>
    <strong>Popis filmu:</strong>
    <%= recenze.description %>
  </p>

  <p>
    <strong>Hodnocení:</strong>
    <%= recenze.hodnoceni %>
  </p>

  
</div>
</div>