
<div class="row">
<div class="all-recenzes">
<header>
<%= render "partials/notice" %>
</header>
<%= link_to "Nová recenze", new_recenze_path, class: "button is-primary" %>

<section id="recenzes" class="row">
  <% @recenzes.each do |recenze|  %>
    <%= render recenze %>
    
   
  <% end %>
</div>
</section>
</div>
