<div class="all-recenzes">
<%= render "partials/notice" %>


<section id="recenzes" class="column">
  <% @recenzes.each do |recenze| %>

    <%= render recenze %>
    <p class="display-recenze">
      <%= link_to "Zobrazit recenzi", recenze, class: "button is-link" %>
    </p>
   
  <% end %>


<%= link_to "Nová recenze", new_recenze_path, class: "button is-primary" %>
</div>
</section>
