<section class="all-recenzes">
<div className="one-recenze">

<h1>Nová recenze filmu</h1>

<%= render "form", recenze: @recenze %>

<br>

<div>
  <%= link_to "Back to recenzes", recenzes_path, class: "button is-link" %>
</div>
</section>
