@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

main, body, html{
    width: 100%;
    margin: 0;
    background-color: rgb(29, 47, 111);
}
body{
    margin:0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    color:white;
    border: 2px white;
    border-radius: 10px;
}
.button{
    background-color: red;
    padding: 5px 2px;
    margin: 5px auto;
    border-radius: 10px;
}

.notice{
    color: red;
    padding: 2px 2px;
    border-radius: 5px;
}
.one-recenze{
    border: 2px solid white;
    display: flex;
    width: 300px;
    margin:30px auto;
    flex-direction: column;
    transition: all 0.5s linear;
    border: 2.5px solid;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;

}

.all-recenzes{
    border-radius: 10px;
    border: 5px solid white;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    width: fit-content;
}

.row{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.one-recenze:hover{
    transform: scale(1.1);
}

