body{

    width: fit-content;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color:white;
    text-decoration:none;
}
button{
    background-color: red;
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;
}
#name{
    color: aqua;
    text-decoration: underline;
}
